#navbar {
    position: fixed;
    top: -1px;
    left: 0px;
    width: 15vw;
    height: 100%;
    border-style: solid;
    border-width: 1px;
  }
  
  #navbar header {
    text-align: center;
  }
  
  #nav-list {
    list-style: none;
    padding-left: 0px;
    overflow-y:auto;
  }
  
  #nav-list li {
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 90%);
    text-align: center;
  }
  
  #nav-list li:hover {
    animation-name: nav-list-item-color;
    animation-duration: 90ms;
    animation-fill-mode: forwards;
  }
  main {
    margin-left: 16vw;
    margin-right: 1vw;
  }
  
  main ol {
    list-style: disc;
  }
  
  main li {
    margin-top: 5px;
  }
  
  .main-section {
    text-align: justify;
  }
  @media(max-width: 810px) {
    #navbar {
      position: relative;
      width: 100%;
      border-style: none;
      height: auto;
    }
    #nav-list {
      max-height: 35vh;
      width: 100%;
    }
   
    main {
      margin: auto;
      margin-left: 1vw;
      margin-right: 1vw;
    }
  }